<div class="range-slider" data-slider data-options="display_selector: #sliderOutput; start: {{start}}; end: {{end}};">
	<span class="range-slider-handle" role="slider" tabindex="0"></span>
	<span class="range-slider-active-segment"></span>
	{{input type="hidden"}}
</div>
