h2 {
     font-family : georgia,Arial,sans-serif;
    font-size :  25px;
    color :  #555;
    margin-left :25px;
    text-shadow : 2px 2px 1px white;

}

h3 {
    font-family : arial  !important ;
    font-size :  14px   !important  ;
      font-weight :500  !important;
}

p {
    font-family : Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight :500;
    margin-left :25px;
}

input {
	border-radius:12px !important ;
  border-bottom:1px solid #FFA500 !important;
  border-left :1px solid #FFA500 !important;
	cursor : crosshair;
}

input:hover{
  border-bottom:1px solid blue !important ;
  border-left:1px solid blue !important ;}

body{background-color: #E8E8E8 }

.icon-bar{border-bottom: 2px solid #FFA500}

footer p { font: 12px "Noto Sans","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif;}

.icon-bar label {   
		 font-family: "Oxygen",sans-serif;
     font-weight: 500;
     font-size: 16px  !important;
}

.icon-bar label:hover{ 
		color : orange !important;
   ;
	
}

.nom {margin-left : 10px;}

.mdp {margin-left : 10px;}

.text-center {color : #FFA500;  opacity:0.7;}