<link rel="stylesheet" href="assets/css/styles.css">


<div class="icon-bar three-up">
	{{#link-to 'index'  class="item"}}
			<i class="fi-home"></i>
			<label>Accueil</label>
	{{/link-to}}	

	{{#link-to 'description'  class="item"}}
			<i class="fi-clipboard"></i>
			<label>R&egrave;gles de jeu</label>
	{{/link-to}}

	{{#link-to 'liste-partie'  class="item"}}
		{{#if session.isAuthenticated}}
			
				<i class="fi-power"></i>
				<label>Rejoindre partie</label>
			
			
		{{else}}
			
				<i class="fi-torso"></i>
				<label>Connexion</label>
			
		{{/if}}
	{{/link-to}}

</div>

{{outlet}}
<br /><br />

<footer>
	<p>Nombre de joueurs : <b>{{nombreJoueurs}}</b></p>
	<p>Parties en cours :<b>{{nombrePartie}}</b></p>
</footer>
