<h2>Rejoindre une partie</h2>
<p>Vous pouvez rejoindre plusieurs parties, en cliquant sur une ligne au dessous : </p>
<table border="0" align="center" width="" height=""> 
	<tr>
		<th>Créateur</th><th>Mise minimale</th><th>Places restantes</th>
	</tr>
	{{#each game in model}}
		<tr {{action 'join' game}}>
			<td>{{game.owner.username}}</td>
			<td>{{game.blind}}</td>
			<td>{{game.remaining}}</td>
		</tr>
	{{/each}}
</table>
{{#link-to 'newgame'}}<span  class="[secondary][radius] label">Créez votre partie !</span>{{/link-to}}
