<img src={{imgurl}}  /> &nbsp; Bienvenue <b>{{username}} </b><br />
<h2>Liste des parties</h2>
<table>
	<tr>
		<th>Créateur</th><th>Mise minimale</th><th>Places restantes</th>
	</tr>
	<tr>
		<td>xxx</td><td>0000</td><td>0000</td>
	</tr>
</table>
{{#link-to 'newgame'}}Créer partie{{/link-to}}
