
<span class="profil"><img src={{imgurl}}  /> &nbsp; Bienvenue <b>{{username}} </b><br /></span>
<h2>Rejoindre une partie</h2>
<p>Vous pouvez rejoindre plusieurs parties, en cliquant sur une ligne au dessous : </p>
<table border="0" align="center"  width=""   height=""   > 
	<tr>
		<th>Cr&eacute;ateur</th><th>Mise minimale</th><th>Places restantes</th>
	</tr>
	<tr>
		<td>xxx</td><td>0000</td><td>0000</td>
	</tr>
</table>
{{#link-to 'newgame'}}<span  class="[secondary][radius] label ">Créez votre partie !</span>{{/link-to}}
