<form>

	<div class="row">
		<div class="small-12 columns">
			<label>Nom d'utilisateur<input name="identification" type="text"></label>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<label>Mot de passe<input name="password" type="password"></label>
		</div>
	</div>
	<div class="row">
		<div class="small-centered small-12 columns">
			<ul class="text-center button-group round stack-for-small">
				<li><a class=button>Se connecter</a></li>
				<li>{{#link-to 'register' class='button'}}S'enregistrer{{/link-to}}</li>
			</ul>
		</div>
	</div>
	
</form>



