{{outlet}}
<dl class="sub-nav">
  <!--<dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>-->
  <dd><a href="#">Checker (check)</a></dd>
  <dd><a href="#">Relancer (raise)</a></dd>
  <dd><a href="#">Se coucher (fold)</a></dd>
  <dd><a href="#">Suivre (call)</a></dd>
</dl>